[Unit]
Description=SympaSOAP - SOAP interface for Sympa mailing list manager
After=syslog.target
BindTo=sympa.service
 
[Service]
Type=forking
PIDFile=/var/run/sympa/sympasoap.pid
ExecStart=/usr/bin/spawn-fcgi -F $FCGI_CHILDREN \
    -P /var/run/sympa/sympasoap.pid \
    -u $FCGI_USER -g $FCGI_GROUP $FCGI_OPTS -- \
    /usr/libexec/sympa/sympa_soap_server.fcgi
Environment="FCGI_CHILDREN=5"
Environment="FCGI_USER=sympa"
Environment="FCGI_GROUP=sympa"
Environment="FCGI_OPTS=-s /var/run/sympa/sympasoap.socket -M 0600 -U nginx"
EnvironmentFile=-/etc/sysconfig/sympa

[Install]
WantedBy=multi-user.target

