---
---

@import "{{ site.theme }}";

h1 {
    font-size: 2.0em;
    border-bottom: solid 1px #e0e0e0;
}

h2 {
    font-size: 1.6em;
    border-bottom: solid 1px #e0e0e0;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.0em;
}

pre {
    font-size: 1.0em;
}

code {
    font-size: 0.85em;
}

blockquote code, .highlight .c, .highlight .cd {
    font-style: normal;
}

a:hover, a:focus {
    font-weight: inherit;
    color: #000;
}

