---
---

@import "{{ site.theme }}";

h2, h2 code, h2 pre {
    font-size: 2.0em;
}

h2, h2 code, h2 pre {
    font-size: 1.6em;
}

h3, h3 code, h3 pre {
    font-size: 1.25em;
}

h4, h4 code, h4 pre {
    font-size: 1.0em;
}
