<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
      header ol li {
        border: none;
        float: none;
        height: auto;
        width: auto;
      }
      @media print, screen and (max-width: 960px) {
        nav.toc {
          display: none;
        }
      }
    </style>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <ul>
          <li><a href="{{ site.github.url }}">Home</a></li>
          <li><a href="{{ site.github.repository_url }}/tree/master/{{ page.path }}">Source</a></li>
          <li><a href="{{ site.github.issues_url }}">Issues</a></li>
        </ul>

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}

        <nav class="toc">
          <p>
          <a href="{{ site.github.url }}/manual/">
            {% if page.path == 'manual/index.md' %}<strong>{% endif %}
            Sympa Administration Manual
            {% if page.path == 'manual/index.md' %}</strong>{% endif %}
          </a>
          </p>

        {% if page.path contains 'manual/' %}
          <ol>
            <li>
            <a href="{{ site.github.url }}/manual/scope.html">
              {% if page.path == 'manual/scope.md' %}<strong>{% endif %}
              Audiences and scope
              {% if page.path == 'manual/scope.md' %}</strong>{% endif %}
            </a>
            </li>
            <li>
            <a href="{{ site.github.url }}/manual/requirements.html">
              {% if page.path == 'manual/requirements.md' %}<strong>{% endif %}
              Requirements
              {% if page.path == 'manual/requirements.md' %}</strong>{% endif %}
            </a>
            </li>
            <li>
            <a href="{{ site.github.url }}/manual/install.html">
              {% if page.path == 'manual/install.md' %}<strong>{% endif %}
              Installing Sympa
              {% if page.path == 'manual/install.md' %}</strong>{% endif %}
            </a>
            {% if page.path == 'manual/install.md' or page.path contains 'manual/install/' %}
              <ol>
              <li>
              <a href="{{ site.github.url }}/manual/install/install-sympa-distribution.html">
                {% if page.path == 'manual/install/install-sympa-distribution.md' %}<strong>{% endif %}
                Install Sympa distribution
                {% if page.path == 'manual/install/install-sympa-distribution.md' %}</strong>{% endif %}
              </a>
              {% if page.path contains 'manual/install/install-sympa-distribution' %}
                <ol>
                <li>
                <a href="{{ site.github.url }}/manual/install/install-sympa-distribution-debian.html">
                  {% if page.path == 'manual/install/install-sympa-distribution-debian.md' %}<strong>{% endif %}
                  Debian package
                  {% if page.path == 'manual/install/install-sympa-distribution-debian.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/install-sympa-distribution-ports.html">
                  {% if page.path == 'manual/install/install-sympa-distribution-ports.md' %}<strong>{% endif %}
                  FreeBSD Ports/Packages
                  {% if page.path == 'manual/install/install-sympa-distribution-ports.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/install-sympa-distribution-rpm.html">
                  {% if page.path == 'manual/install/install-sympa-distribution-rpm.md' %}<strong>{% endif %}
                  RPM package
                  {% if page.path == 'manual/install/install-sympa-distribution-rpm.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/install-sympa-distribution-source.html">
                  {% if page.path == 'manual/install/install-sympa-distribution-source.md' %}<strong>{% endif %}
                  Installing from source
                  {% if page.path == 'manual/install/install-sympa-distribution-source.md' %}</strong>{% endif %}
                </a>
                </li>
                </ol>
              {% endif %}
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/install/install-dependent-modules.html">
                {% if page.path == 'manual/install/install-dependent-modules.md' %}<strong>{% endif %}
                Install dependent modules
                {% if page.path == 'manual/install/install-dependent-modules.md' %}</strong>{% endif %}
              </a>
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/install/generate-initial-configuration.html">
                {% if page.path == 'manual/install/generate-initial-configuration.md' %}<strong>{% endif %}
                Generate initial configuration
                {% if page.path == 'manual/install/generate-initial-configuration.md' %}</strong>{% endif %}
              </a>
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/install/setup-database.html">
                {% if page.path == 'manual/install/setup-database.md' %}<strong>{% endif %}
                Setup database
                {% if page.path == 'manual/install/setup-database.md' %}</strong>{% endif %}
              </a>
              {% if page.path contains 'manual/install/setup-database' %}
                <ol>
                <li>
                <a href="{{ site.github.url }}/manual/install/setup-database-mysql.html">
                  {% if page.path == 'manual/install/setup-database-mysql.md' %}<strong>{% endif %}
                  MySQL or MariaDB
                  {% if page.path == 'manual/install/setup-database-mysql.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/setup-database-oracle.html">
                  {% if page.path == 'manual/install/setup-database-oracle.md' %}<strong>{% endif %}
                  Oracle Database
                  {% if page.path == 'manual/install/setup-database-oracle.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/setup-database-postgresql.html">
                  {% if page.path == 'manual/install/setup-database-postgresql.md' %}<strong>{% endif %}
                  PostgreSQL
                  {% if page.path == 'manual/install/setup-database-postgresql.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/setup-database-sqlite.html">
                  {% if page.path == 'manual/install/setup-database-sqlite.md' %}<strong>{% endif %}
                  SQLite
                  {% if page.path == 'manual/install/setup-database-sqlite.md' %}</strong>{% endif %}
                </a>
                </li>
                </ol>
              {% endif %}
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/install/configure-system-log.html">
                {% if page.path == 'manual/install/configure-system-log.md' %}<strong>{% endif %}
                Configure system log
                {% if page.path == 'manual/install/configure-system-log.md' %}</strong>{% endif %}
              </a>
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/install/configure-mail-server.html">
                {% if page.path == 'manual/install/configure-mail-server.md' %}<strong>{% endif %}
                Configure mail server
                {% if page.path == 'manual/install/configure-mail-server.md' %}</strong>{% endif %}
              </a>
              {% if page.path contains 'manual/install/configure-mail-server' %}
                <ol>
                <li>
                <a href="{{ site.github.url }}/manual/install/configure-mail-server-exim.html">
                  {% if page.path == 'manual/install/configure-mail-server-exim.md' %}<strong>{% endif %}
                  exim
                  {% if page.path == 'manual/install/configure-mail-server-exim.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/configure-mail-server-opensmtpd.html">
                  {% if page.path == 'manual/install/configure-mail-server-opensmtpd.md' %}<strong>{% endif %}
                  OpenSMTPD
                  {% if page.path == 'manual/install/configure-mail-server-opensmtpd.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/configure-mail-server-postfix.html">
                  {% if page.path == 'manual/install/configure-mail-server-postfix.md' %}<strong>{% endif %}
                  Postfix
                  {% if page.path == 'manual/install/configure-mail-server-postfix.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/configure-mail-server-sendmail.html">
                  {% if page.path == 'manual/install/configure-mail-server-sendmail.md' %}<strong>{% endif %}
                  Sendmail
                  {% if page.path == 'manual/install/configure-mail-server-sendmail.md' %}</strong>{% endif %}
                </a>
                </li>
                </ol>
              {% endif %}
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/install/configure-http-server.html">
                {% if page.path == 'manual/install/configure-http-server.md' %}<strong>{% endif %}
                Configure HTTP server
                {% if page.path == 'manual/install/configure-http-server.md' %}</strong>{% endif %}
              </a>
              {% if page.path contains 'manual/install/configure-http-server' %}
                <ol>
                <li>
                <a href="{{ site.github.url }}/manual/install/configure-http-server-apache.html">
                  {% if page.path == 'manual/install/configure-http-server-apache.md' %}<strong>{% endif %}
                  Apache HTTP Server
                  {% if page.path == 'manual/install/configure-http-server-apache.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/configure-http-server-lighttpd.html">
                  {% if page.path == 'manual/install/configure-http-server-lighttpd.md' %}<strong>{% endif %}
                  lighttpd
                  {% if page.path == 'manual/install/configure-http-server-lighttpd.md' %}</strong>{% endif %}
                </a>
                </li>
                <li>
                <a href="{{ site.github.url }}/manual/install/configure-http-server-nginx.html">
                  {% if page.path == 'manual/install/configure-http-server-nginx.md' %}<strong>{% endif %}
                  nginx
                  {% if page.path == 'manual/install/configure-http-server-nginx.md' %}</strong>{% endif %}
                </a>
                </li>
                </ol>
              {% endif %}
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/install/start-mailing-list-service.html">
                {% if page.path == 'manual/install/start-mailing-list-service.md' %}<strong>{% endif %}
                Start mailing list service
                {% if page.path == 'manual/install/start-mailing-list-service.md' %}</strong>{% endif %}
              </a>
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/install/automate-startup.html">
                {% if page.path == 'manual/install/automate-startup.md' %}<strong>{% endif %}
                Automate startup
                {% if page.path == 'manual/install/automate-startup.md' %}</strong>{% endif %}
              </a>
              </li>
              </ol>
            {% endif %}
            </li>
            <li>
            <a href="{{ site.github.url }}/manual/upgrade.html">
              {% if page.path == 'manual/upgrade.md' %}<strong>{% endif %}
              Upgrading Sympa
              {% if page.path == 'manual/upgrade.md' %}</strong>{% endif %}
            </a>
            </li>
            <li>
            <a href="{{ site.github.url }}/manual/admin.html">
              {% if page.path == 'manual/admin.md' %}<strong>{% endif %}
              Administering Sympa
              {% if page.path == 'manual/admin.md' %}</strong>{% endif %}
            </a>
            {% if page.path == 'manual/admin.md' or page.path contains 'manual/admin/' %}
              <ol>
              <li>
              <a href="{{ site.github.url }}/manual/admin/services.html">
                {% if page.path == 'manual/admin/services.md' %}<strong>{% endif %}
                Managing services
                {% if page.path == 'manual/admin/services.md' %}</strong>{% endif %}
              </a>
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/admin/cli.html">
                {% if page.path == 'manual/admin/cli.md' %}<strong>{% endif %}
                Command line interface
                {% if page.path == 'manual/admin/cli.md' %}</strong>{% endif %}
              </a>
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/admin/list.html">
                {% if page.path == 'manual/admin/list.md' or page.path contains 'manual/admin/list-' %}<strong>{% endif %}
                List creation
                {% if page.path == 'manual/admin/list.md' or page.path contains 'manual/admin/list-' %}</strong>{% endif %}
              </a>
              </li>
              <li>
              <a href="{{ site.github.url }}/manual/admin/serveradmin.html">
                {% if page.path == 'manual/admin/serveradmin.md' %}<strong>{% endif %}
                Listmaster portal on web interface
                {% if page.path == 'manual/admin/serveradmin.md' %}</strong>{% endif %}
              </a>
              </li>
              </ol>
            {% endif %}
            </li>
            <li>
            <a href="{{ site.github.url }}/manual/customize.html">
              {% if page.path == 'manual/customize.md' or page.path contains 'manual/customize/' %}<strong>{% endif %}
              Customizing Sympa
              {% if page.path == 'manual/customize.md' or page.path contains 'manual/customize/' %}</strong>{% endif %}
            </a>
            </li>
          </ol>
          
          <p>Appendices</p>
          <ol>  
            <li>
            <a href="{{ site.github.url }}/manual/man/sympa_toc.1.html">
              {% if page.path contains 'manual/man/' %}<strong>{% endif %}
              References
              {% if page.path contains 'manual/man/' %}</strong>{% endif %}
            </a>
            </li>
            <li>
            <a href="{{ site.github.url }}/manual/layout.html">
              {% if page.path == 'manual/layout.md' %}<strong>{% endif %}
              Directory layout
              {% if page.path == 'manual/layout.md' %}</strong>{% endif %}
            </a>
            </li>
          </ol>
        {% endif %}
        </nav>

      </header>
      <section>

      {% unless page.url contains '/manual/man/' %}
      <nav>
      <p style='text-align: center;'>
        {% if page.prev %}<a href="{{ page.prev | replace: ".md", ".html" }}" title="Prev">&#x25c0;</a>{% else %}<span title="Prev">&#x25c0;</span>{% endif %}
        {% if page.up %}<a href="{{ page.up | replace: ".md", ".html" }}" title="Up">&#x23eb;</a>{% else %}<span title="Up">&#x23eb;</span>{% endif %}
        {% if page.next %}<a href="{{ page.next | replace: ".md", ".html" }}" title="Next">&#x25b6;</a>{% else %}<span title="Next">&#x25b6;</span>{% endif %}
      </p>
      <hr />
      </nav>
      {% endunless %}

      {{ content }}

      {% unless page.url contains '/manual/man/' %}
      <nav>
      <hr />
      <p style='text-align: center;'>
        {% if page.prev %}<a href="{{ page.prev | replace: ".md", ".html" }}" title="Prev">&#x25c0;</a>{% else %}<span title="Prev">&#x25c0;</span>{% endif %}
        {% if page.up %}<a href="{{ page.up | replace: ".md", ".html" }}" title="Up">&#x23eb;</a>{% else %}<span title="Up">&#x23eb;</span>{% endif %}
        {% if page.next %}<a href="{{ page.next | replace: ".md", ".html" }}" title="Next">&#x25b6;</a>{% else %}<span title="Next">&#x25b6;</span>{% endif %}
      </p>
      </nav>
      {% endunless %}

        {% if page.url contains '/manual/man/' %}
          <p>
            The content of this page is automatically generated from the source distribution of Sympa.  For details about this document see original source file.
          </p>
        {% elsif page.license %}
          <p>
            {{ page.license }}
          </p>
        {% else %}
          <p>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">
              <img alt="CC BY-SA 4.0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png">
            </a>
            Unless otherwise specified, the contents of this document are licensed under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons - Attribution - ShareAlike</a> license.  For more details see <a href="{{ site.github.url }}/LICENSE.html">LICENSE</a> and <a href="{{ site.github.url }}/AUTHORS.html">AUTHORS</a>.
          </p>
        {% endif %}

        <p style="text-align: right;"><small>Theme originally designed by <a href="https://github.com/orderedlist">orderedlist</a></small></p>

      </section>
      <footer></footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
